.alerta-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.container-alerta {
    position: relative;    
    padding: 1.8rem 1rem 1rem 1rem;
    margin-bottom: 1rem;
    margin-top: 40px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    align-content: center;
}